<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | ACME</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" th:href="@{../img/favicon/favicon.ico}"/>

    <link rel="stylesheet" th:href="@{../css/styles.css}">
</head>
<body onload="cadastro()">
    <header class="home-header-container">
        <div class="home-header-cadastro">
            <ul>
                <li> <a th:href="@{/cadastro}"> Cadastrar <i class="fas fa-user-plus"></i> </a></li>
                <li> <a th:href="@{/logado}"> Login <i class="fas fa-sign-in-alt"></i> </a></li>
                <li> <a href="#"> Carrinho <i class="fas fa-shopping-cart"></i> </a></li>
            </ul>
        </div>
        <nav class="navbar">
            <a id="nav-logo" th:href="@{/}">REDE <span>ACME</span></a>
            <ul>
                <li> <a th:href="@{/sobre}"> Sobre </a></li>
                <li> <a href="#"> Produtos </a></li>
                <li> <a th:href="@{/contato}"> Contato </a></li>
            </ul>
        </nav>
    </header>

    <section class="cadastro-container">
        <div class="cadastro-content">
            <h1>REGISTRAR</h1>
            <form 
                id="form-cadastro"
                action="#" 
                th:action="@{/cadastro}"
                method=post 
                th:object="${cliente}"
            >
                <label for="nome">Nome: </label>
                <input 
                    id="nome" name="nome" type="text" placeholder="Nome completo"
                    th:field="*{nm_Cliente}" 
                    required 
                    data-msg="Por favor, preencha este campo."
                    data-rule-minlength="3" data-msg-minlength="Insira seu nome completo."
                >

                <label for="cpf">CPF: </label>
                <input 
                    id="cpf" name="cpf" type="text" placeholder="Ex: 123.456.789-00"
                    th:field="*{cd_Cpf}" 
                    required 
                    data-msg="Por favor, insira um cpf válido."
                    data-rule-minlength="14" data-rule-maxlength="14"
                >

                <div class="cadastro-email-telefone">
                    <div class="bloco-email">
                        <label for="email">E-mail: </label>
                        <input 
                            id="email" name="email" type="email" placeholder="Ex: mail@exemplo.com"
                            th:field="*{ds_Email}" 
                            required 
                            data-msg="Por favor, insira um e-mail válido."
                            data-rule-maxlength="150"
                            
                        >
                    </div>

                    <div class="bloco-telefone">
                        <label for="tel">Telefone: </label>
                        <input 
                            id="tel" name="tel" type="tel" placeholder="99 9 9999-9999"
                            th:field="*{cd_Telefone}" 
                            required 
                            data-msg="Por favor, insira um telefone ou celular."
                            data-rule-minlength="14" data-rule-maxlength="16"
                        >
                    </div>
                </div>

                <label for="cep">CEP: </label>
                <input 
                    id="cep" name="cep" type="text" placeholder="Ex: 99999-999"
                    th:field="*{cd_Cep}" 
                    required 
                    data-msg="Por favor, insira um CEP válido."
                    data-rule-minlength="9"
                >

                <label for="endereco">Endereço: </label>
                <input 
                    id="endereco" name="endereco" type="text" placeholder="Ex: Rua Senador Exemplo, n° 999"
                    th:field="*{ds_Endereco}" 
                    required
                    data-msg="Por favor, insira seu endereço."
                    data-rule-maxlength="200"
                >

                <div class="cadastro-cidade-estado">
                    <div class="bloco-cidade">
                        <label for="cidade">Cidade: </label>
                        <input 
                            id="cidade" name="cidade" type="text" placeholder="Ex: Santos"
                            th:field="*{ds_Cidade}" 
                            required 
                            data-msg="Por favor, insira a cidade."
                            data-rule-maxlength="50"
                        >
                    </div>

                    <div class="bloco-estado">
                        <label for="uf">UF: </label>
                        <input 
                            id="uf" name="uf" type="text" placeholder="Ex: SP"
                            th:field="*{sg_Uf}" 
                            required 
                            data-msg="Por favor, insira o UF do estado."
                            data-rule-minlength="2" data-rule-maxlength="2" data-msg-maxlength="Insira um UF de 2 caractéres."
                            maxlength="2"
                        >
                    </div>
                </div>

                <label for="senha">Senha: </label>
                <input 
                    id="senha" name="senha" type="password" placeholder="Digite sua senha"
                    th:field="*{cd_Senha}" 
                    required 
                    data-msg="Por favor, crie uma senha."
                    data-rule-minlength="8" data-msg-minlength="A senha deve ter no mínimo 8 caractéres."
                    data-rule-maxlength="50" data-msg-maxlength="A senha deve ter no máximo 50 caractéres."
                >

                <label for="senha2">Confirmar senha: </label>
                <input 
                    id="senha2" name="senha2" type="password" placeholder="Confirme sua senha"
                    required 
                    data-msg="As senhas devem ser idênticas."
                >
              
                <button class="link-padrao" type="submit">Cadastrar</button>
              </form>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <span>Desenvolvido por Tech Monkeys ©</span>
        </div>
    </footer>

    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/5ced3d7c26.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script src="js/main.js"></script>
    
</body>
</html>