<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeLeaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Logado com Sucesso!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>


        <ul>
            <li>
                <a th:href="@{/cadastroProduto}">
                    Cadastro de Produtos
                </a>
            </li>
            <li>
                <a th:href="@{/listarProdutos}">
                    Listagem Produto
                </a>
            </li>
            <li>
                <a th:href="@{/cadastroFornecedor}">
                    Cadastra Fornecedor
                </a>
            </li>
            <li>
                <a th:href="@{/listarFornecedores}">
                    Listagem Fornecedor
                </a>
            </li>
        </ul>




        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>