<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeLeaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | ACME</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" th:href="@{../img/favicon/favicon.ico}"/>

    <link rel="stylesheet" th:href="@{../css/styles.css}">
</head>
<body onload="login()">
    <header class="home-header-container">
        <div class="home-header-cadastro">
            <ul>
                <li> <a th:href="@{/cadastro}"> Cadastrar <i class="fas fa-user-plus"></i> </a></li>
                <li> <a th:href="@{/logado}"> Login <i class="fas fa-sign-in-alt"></i> </a></li>
                <li> <a href="#"> Carrinho <i class="fas fa-shopping-cart"></i> </a></li>
            </ul>
        </div>
        <nav class="navbar">
            <a id="nav-logo" th:href="@{/}">REDE <span>ACME</span></a>
            <ul>
                <li> <a th:href="@{/sobre}"> Sobre </a></li>
                <li> <a href="#"> Produtos </a></li>
                <li> <a th:href="@{/contato}"> Contato </a></li>
            </ul>
        </nav>
    </header>

    <section class="login-container">
        <div class="login-content">
            <h1>ENTRAR</h1>

            <div th:if="${param.error}">
                Invalid username and password.
            </div>

            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <form
                id="form-login"
                th:action="@{/login}"
                method=post
            >
                <label for="username">E-mail: </label>
                <input 
                    id="username" name="username" type="email" placeholder="Ex: mail@exemplo.com"

                    required 
                    data-msg="Por favor, insira um e-mail válido."
                    data-rule-maxlength="150"
                    
                >
               
                <label for="password">Senha: </label>
                <input 
                    id="password" name="password" type="password" placeholder="Digite sua senha"
                    required
                    data-msg="Insira a senha"
                    data-rule-minlength="8" data-msg-minlength="A senha deve ter no mínimo 8 caractéres."
                    data-rule-maxlength="50" data-msg-maxlength="A senha deve ter no máximo 50 caractéres."
                >

                <label for="remember-me"> Mantenha-me Conectado  : </label>
                <input type="checkbox" id="remember-me" name="remember-me" />


                <button class="link-padrao" type="submit">ENTRAR</button>

                <input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />

              </form>
              <div class="login-criar-conta">
                  <span>Ainda não tem uma conta? <a href="#">Registre-se!</a></span>
                  <a href="#">Esqueceu a senha?</a>
              </div>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <span>Desenvolvido por Tech Monkeys ©</span>
        </div>
    </footer>

    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/5ced3d7c26.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script src="js/main.js"></script>
    
</body>
</html>