<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
    <script th:src="@{../js/jquery.js}"></script>
    <script th:src="@{../js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{../css/main.css}">
</head>
<body class="bg-secondary">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(Página atual)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Catálogo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Carrinhos</a>
                  </li>
                </ul>
              </div>
              <a class="navbar-brand" href="#">TechTrade</a>
          </nav>

<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="img/placa.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

      <h2 class="bg-dark m-auto">PLACA MÃE</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-2 col-md-6 col-lg-4 img-c">
            <img class="img-categoria justify-content-center" src="img/categorias/fonte.png" alt="">
            <p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, pariatur.</p>
            <p class="font-weight-bold">R$ 200,00</p>
            <a class="btn btn-success" th:href="@{/}">Comprar</a>
            <p></p>
          </div>
          <div class="col-xs-2 col-md-6 col-lg-4 img-c">
            <img class="img-categoria justify-content-center" src="img/categorias/hd.png" alt="">
            <p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, pariatur.</p>
            <p class="font-weight-bold">R$ 200,00</p>
            <button class="btn btn-success">Comprar</button>
            <p></p>
          </div>
          <div class="col-xs-2 col-md-6 col-lg-4 img-c">
            <img class="img-categoria justify-content-center" src="img/categorias/mb.png" alt="">
            <p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, pariatur.</p>
            <p class="font-weight-bold">R$ 200,00</p>
            <button class="btn btn-success">Comprar</button>
            <p></p>
          </div>
          <div class="col-xs-2 col-md-6 col-lg-4 img-c">
            <img class="img-categoria justify-content-center" src="img/categorias/notebook.png" alt="">
            <p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, pariatur.</p>
            <p class="font-weight-bold">R$ 200,00</p>
            <button class="btn btn-success">Comprar</button>
            <p></p>
          </div>
          <div class="col-xs-2 col-md-6 col-lg-4 img-c">
            <img class="img-categoria justify-content-center" src="img/categorias/pc.png" alt="">
            <p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, pariatur.</p>
            <p class="font-weight-bold">R$ 200,00</p>
            <button class="btn btn-success">Comprar</button>
            <p></p>
          </div>
          <div class="col-xs-2 col-md-6 col-lg-4 img-c">
            <img class="img-categoria justify-content-center" src="img/categorias/teclado.png" alt="">
            <p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, pariatur.</p>
            <p class="font-weight-bold">R$ 200,00</p>
            <button class="btn btn-success">Comprar</button>
            <p></p>
          </div>
        </div>
      </div>

      <footer>
          <p>TechTrade</p>
          <p>© Copyright</p>
      </footer>


</div>
    
</body>
</html>