<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre a Empresa | ACME</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" th:href="@{../img/favicon/favicon.ico}"/>

    <link rel="stylesheet" th:href="@{../css/styles.css}">
</head>
<body>
    <header class="home-header-container">
        <div class="home-header-cadastro">
            <ul>
                <li> <a th:href="@{/cadastro}"> Cadastrar <i class="fas fa-user-plus"></i> </a></li>
                <li> <a th:href="@{/logado}"> Login <i class="fas fa-sign-in-alt"></i> </a></li>
                <li> <a href="#"> Carrinho <i class="fas fa-shopping-cart"></i> </a></li>
            </ul>
        </div>
        <nav class="navbar">
            <a id="nav-logo" th:href="@{/}">REDE <span>ACME</span></a>
            <ul>
                <li> <a href="@{/sobre}"> Sobre </a></li>
                <li> <a href="#"> Produtos </a></li>
                <li> <a th:href="@{/contato}"> Contato </a></li>
            </ul>
        </nav>
    </header>

    <section class="sobre-container">
        <div class="sobre-content">
            <h1>SOBRE A EMPRESA</h1>

            <img src="dist/img/sobre/sobre.jpg" data-lity alt="Foto de prateleiras de diversos tênis da loja.">

            <p>A empresa <strong>ACME</strong> lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt commodi molestias vitae, optio doloremque corporis rem hic consectetur magni minima sequi laudantium animi quia assumenda quod pariatur aliquam qui fugit alias quam impedit repellendus voluptas. Quam autem, sit dignissimos earum non dolor qui asperiores perferendis recusandae eius adipisci enim cupiditate iure vero illo facere? Amet quidem nobis velit, perferendis rerum minima neque officia ipsum praesentium facere ducimus eveniet quae asperiores, hic corporis minus fugit unde itaque harum corrupti quasi tempore? Mollitia voluptate fuga ratione ipsam est. Quidem atque, tempore nostrum minus reprehenderit temporibus! Enim ab error optio, repellendus nam a!</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora aspernatur consequatur iusto impedit incidunt voluptas adipisci. At nesciunt maiores itaque quis quam? Aspernatur quidem reiciendis, dolore dolorem ea porro impedit officiis commodi, tempore cum natus minus distinctio iste laudantium, sit velit molestiae dolorum autem delectus fugiat dolor quo alias voluptatum?</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero tempora cumque cum corporis sunt! Assumenda libero ratione, doloribus minima dignissimos molestiae! Voluptate dolorem nesciunt nostrum possimus voluptatibus saepe quis doloremque?</p>
        </div>
    </section>
    <footer>
        <div class="footer-content">
            <span>Desenvolvido por Tech Monkeys ©</span>
        </div>
    </footer>

    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/5ced3d7c26.js" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    
</body>
</html>